main {
    display: flex;
    flex-direction: column;
    background-color: white;
    
}

#main_content{
    display: flex;
    flex-direction: column;
    background-color: white;
}

#main_content_header{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
}

#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 12px;
}

#searchbar input[type=text]{
    width: 800px;
    margin-left: -43px;
    border: 1px solid #333333;
    padding: 5px 50px;
}

#searchbar input[type=button]{
    border: none;
    background: #DEB959;
    color: white;
    font-size: 28px;
    padding: 5px 22px;
}

#searchbar img {
    position: relative;
    display: grid;
    align-self: center;
    transform: translateX(15px);
}

#checkmarks div{
    display: flex;
    flex-direction: row;
    justify-items: start;
    column-gap: 15px;
    padding-left: 5px;
}

#checkmarks div input {
    box-sizing: border-box;
    background: #FAFAFA;
    border: 1px solid #333333;
    border-radius: 5px;
    width: 20px;
    height: auto;

}

#wolf_list {
    display: grid;
    justify-content: center;
}

.display_wolf {
    width: 1000px;
    display: flex;
    /* AQUI VOCE VAI MUDAR O FLEX DIRECTION NO JS se for par ou impar troca entre row e row-reverse */
    flex-direction: row-reverse;
    column-gap: 5%;
    margin-top: 20px;
    margin-bottom: 50px;
    
    padding: 1%;
    border: 1px solid black;
}

.display_wolf img{
    border: #85CDF5 3px solid;
}

.display_wolf #wolf_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.display_wolf #wolf_header input{
    border: none;
    background: #DEB959;
    color: white;
    font-size: 28px;
    padding: 6px 30px;
}

.display_wolf #wolf_header h2{
    margin-top: 10px;
    margin-bottom: 2px;
}

.display_wolf #wolf_header h5{
    margin: 3px;
    margin-left: 0px;
    font-size: 18px;
    color: grey;
    font-weight: 100;
}

.display_wolf p {
    font-size: 20px;
    font-weight: 400;
}


#pagebrowse {
    display: flex;
    border: none;
    flex-direction: row;
    justify-items: center;
    align-self: center;
    column-gap: 5px;
    margin-bottom: 30px;
}

#pagebrowse div{
    display: flex;
    flex-direction: row;
    column-gap: 2px;
}

#pagebrowse input {
    border: none;
    background-color: transparent;
}

#pagebrowse input:hover{
    background-color: goldenrod;

}

/*-----------------------------------------------*/

